MYSQL_DATABASE=simple_douyin
MYSQL_USER=simple_douyin_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

API_SERVER_PORT=8080
RECOMMEND_ADMIN_PORT=8081
RECOMMEND_GRPC_PORT=9090
RECOMMEND_GRPC_HOST=simple-douyin-recommend-service

MYSQL_URL=jdbc:mysql://simple-douyin-mysql:3306/simple_douyin?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
MYSQL_USERNAME=simple_douyin_user
SPRING_DATASOURCE_URL=jdbc:mysql://simple-douyin-mysql:3306/simple_douyin?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
SPRING_DATASOURCE_USERNAME=simple_douyin_user
SPRING_DATASOURCE_PASSWORD=change_me

UPLOADS_DIR=/app/uploads
AUTH_TOKEN_SECRET=change_me
